/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.container {
    margin-bottom: 24px;
}

#datetime-picker {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 16px;
    outline: none;
    margin-bottom: 32px;
}

#datetime-picker:hover {
    border: 1px solid #000;
}

#datetime-picker:focus {
    border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
    cursor: default;
    border: 1px solid #808080;
    color: #808080;
}

.start-btn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
}

.start-btn:hover {
    background-color: #6c8cff;
}

.start-btn:focus {
    background-color: #6c8cff;
}

.start-btn:disabled {
    cursor: default;
    color: #989898;
    background-color: #cfcfcf;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.field {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 76px;
    height: 72px;
}

.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
}

.flatpickr-day.selected {
    background-color: #4e75ff !important;
}

.flatpickr-day.today {
    border: 1px solid #4e75ff !important;
}

.flatpickr-day:hover {
    background-color: #6c8cff !important;
}